<div class="container">
  <div class="row">
    <div class="confirm">
      <h4>川柳を投稿しました</h4>
      <p>投稿したことをみんなに共有しよう！<br><br><a href="https://twitter.com/share" class="twitter-share-button" data-url="https://unibirth.herokuapp.com/kawagoe3/senryu" data-text="川柳を投稿しました。" data-lang="ja" data-size="large" data-hashtags="川越3">ツイート</a></p>
      <%= link_to "川柳ページへ戻る", kawagoe3_senryu_index_path, class: "button" %>
    </div>
  </div>
</div>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
