<div class="senryu">
  <div class="post_senryu">
    <h2><%= link_to "川柳を投稿する", new_kawagoe3_senryu_path %></h2>
  </div>
  <h2>投稿された川柳一般</h2>
  <div class="container">
    <div class="senryu-content">
      <div class="img-1 img">
        <div class="cover-img">
          <div class="row">
            <div class="col-sm-3 left-content">
              <p>柿食えば</p>
            </div>
            <div class="col-sm-3 middle-content">
              <p>鐘が鳴る鳴る</p>
            </div>
            <div class="col-sm-3 right-content">
              <p>法隆寺</p>
            </div>
          </div>
          <div class="user-info">
            <div class="row">
              <div class="col-sm-4">
                <p>テーマ</p>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-sm-4">
                <p>名前 hoge</p>
              </div>
              <div class="col-xs-6 col-sm-4">
                <p>年齢 35</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="senryu-content">
      <div class="img-1 img">
        <div class="cover-img">
          <div class="row">
            <div class="col-sm-3 left-content">
              <p>柿食えば</p>
            </div>
            <div class="col-sm-3 middle-content">
              <p>鐘が鳴る鳴る</p>
            </div>
            <div class="col-sm-3 right-content">
              <p>法隆寺</p>
            </div>
          </div>
          <div class="user-info">
            <div class="row">
              <div class="col-sm-4">
                <p>テーマ</p>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-sm-4">
                <p>名前 hoge</p>
              </div>
              <div class="col-xs-6 col-sm-4">
                <p>年齢 35</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
