<div class="senryu">
  <div class="post_senryu">
    <h2><%= link_to "川柳を投稿する", new_kawagoe3_senryu_path %></h2>
  </div>
  <h2>投稿された川柳一般</h2>
  <div class="container">
    <div class="row">
     <%= render partial: 'senryu', collection: @senryus %>
    </div>
  </div>
</div>
