<div class="nazodan">
  <div class="cover-img">
  <h2>謎より団子</h2>
  <hr>
  <h3>謎解きのついでに、いや、謎解きよりも食レポ！</h3>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="nazodan-content">
            <h4>＜企画＞</h4>
            <p>謎解き中に食べた美味しいグルメをツイッターで食レポ！</p>
            <p>ハッシュタグつきのツイートでグルメ情報をゲット&拡散！</p>
            <p>さらに、あなたのツイートでグランプリが決まる！</p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="nazodan-content">
            <h4>＜投稿方法＞</h4>
            <p>あなたが謎解きの中に食べて特に美味しいと思ったグルメをツイッターに、ハッシュタグ#なぞだんをつけて投稿してください。</p><p>※ツイートにグルメの写真を添付し、商品名または店名をいれて、何を食べたのかわかるようツイートしてください。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="time-line1">
        <h2>Twittter#なぞだん</h2>
        <div class="twitter-timeline-container" data-widget-id="704479682926739458">#なぞだん のツイート</div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="time-line2">
        <h2>Twittter#謎より団子</h2>
        <div class="twitter-timeline-container" data-widget-id="704480231634051072">#謎より団子 のツイート</div>
      </div>
    </div>
  </div>
</div>
