<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="time-line1">
        <a class="twitter-timeline" href="https://twitter.com/hashtag/%E3%81%AA%E3%81%9E%E3%81%A0%E3%82%93" data-widget-id="704479682926739458">#なぞだん のツイート</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="time-line2">
        <a class="twitter-timeline" href="https://twitter.com/hashtag/%E8%AC%8E%E3%82%88%E3%82%8A%E5%9B%A3%E5%AD%90" data-widget-id="704480231634051072">#謎より団子 のツイート</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
    </div>
  </div>
</div>