<div class="story">
  <div class="story_content">
    <h2 class="main_title">ストーリー<br><hr width="70"></h2>
    <p>「川越の未来は、この手で守る」</p><br>
    <p>時が人を結ぶまち、川越。<br>
       最後にここを訪れたのはいつだっただろうか。<br>
       見慣れたふるさとの景色に、僕は懐かしさを感じていた。<br>
       ところが街はある奇妙な事件で騒然となった。<br>
       なんと、ロボットを乗せた不思議な山車が現れたというのだ。<br>
       一目見て噂を確かめるため、あるはずのない30番目の山車の元へ駆けつけた。</p>
    <p>そんな僕を見つけると、ロボットは写真を渡してこう言った。<br>
      「君ニ川越ノ未来ヲ救ッテホシイ。」<br>
       そこに写し出されていたのは、変わり果てた未来の川越だった。</p><br>
    <p>僕が川越の未来を救う…？</p><br>
    <p>変わらないもの、変わりゆくもの。<br>
       過去、現在、未来。<br>
       全てが繋がった時、川越の未来は変わる。<br>
       時空を越えた謎解きが今、始まる。</p>
   </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-7">
      <div>
        <h3>謎解きイベント第3弾</h3>
      </div>
      <div><%= link_to "？？？？", "", class: "button" %></div>
      <div><%= link_to "？？？？", "", class: "button" %></div>
      <div><%= link_to "ヒント", kawagoe3_hint_index_path, class: "button" %></div>
    </div>
    <div class="col-sm-5">
      <div class="dashi-content">
        <%= image_tag 'NO30山車イラスト.png', class: "dashi" %>
      </div>
    </div>
  </div>
</div>
