<div class="container">
  <div class="row">
    <div class="col-sm-7">
      <div>
        <h3>謎解きイベント第3弾</h3>
      </div>
      <div><%= link_to "？？？？", "", class: "button" %></div>
      <div><%= link_to "？？？？", "", class: "button" %></div>
      <div><%= link_to "ヒント", kawagoe3_hint_index_path, class: "button" %></div>
    </div>
    <div class="col-sm-5">
      <%= image_tag 'NO30山車イラスト.png', class: "dashi" %>
    </div>
  </div>
</div>
