// Place all the styles related to the kawagoe3/senryu controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face{
  font-family: "青柳衡山フォントT";
  src:font-url('青柳衡山フォントT.ttf');
}

.senryu{
  font-family: "青柳衡山フォントT";

  .form-contents{
    width: 300px;
    margin: 0 auto;
    padding: 10px;
  }

  h2{
    font-size: 24px;
    text-align: center;
    margin: 0;
    margin-top: 60px;
    color: #000;
  }

  hr{
    width: 70px;
    color: #000;

  }

  .senryu_info{
    h2{
      font-size: 24px;
    }
    h3{
      font-size: 20px;
    }

    p{
      font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
    }
  }

  .post_senryu{
    h2{
      font-size: 24px;
      text-align: center;
      border: solid 2px #000;
      padding: 10px;
      width: 250px;
      margin: 30px auto;

      a{
        color: #000;
      }
      a:hover{
        color: #212121;
        letter-spacing: 1px;
      }
    }
  }
  .ranking{
    margin: 50px 20px 0;
    span{
      font-size: 20px;
    }
    h5{
      float: left;
      margin: 10px 20px 0 0;
      padding: 0;
      a{
        color: #000;
        font-size: 18px;
        padding: 5px;
        border: dashed 1px #414141;
      }
    }
  }
  .senryu-content{
    border: solid 1px #414141;
    box-shadow: 3px 3px 1px 0;
    margin: 0;
    height: 450px;
    margin: 40px 0 20px;
    position: relative;

    .img-0{
      background-image: image-url("take.jpg");
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }

    .img-1{
      background-image: image-url("kumo.jpg");
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }

    .img-2{
      background-image: image-url("onsen.jpg");
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }

    .img-3{
      background-image: image-url("yuki_yama.jpg");
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }

    .img-4{
      background-image: image-url("konoha.jpg");
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }

    .img-5{
      background-image: image-url("hoshi.jpg");
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }

    .img{
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;

      .cover-img{
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
      }

      p{
        font-size: 25px;
        padding: 2px;
        margin: 0;
        color: white;
        width:1em;
        float:right;
      }

      .left-content{
        position: absolute;
        top: 10px;
        right: 5px;
      }

      .middle-content{
        position: absolute;
        top: 70px;
        right: 40px;
      }

      .right-content{
        position: absolute;
        top: 200px;
        right: 75px;
      }

      .user-info{
        p{
          font-size: 18px;
          color: #EEE;
        }

        .tema-content{
          position: absolute;
          top: 5px;
          left: 0;
        }

        .age-content{
          position: absolute;
          bottom: 10px;
          left: 20px;
        }

        .name-content{
          position: absolute;
          bottom: 10px;
          left: 0;
        }
      }
      span{
        position: absolute;
        bottom: 5px;
        right: 10px;
        font-size: 18px;
        color: #fff;
        text-align: center;
      }
    }
  }
  .like_content{
    span{
      margin: 0 auto 30px;
      display: block;
      width: 100%;
      height: 54px;
      text-align: center;
      text-decoration: none;
      line-height: 54px;
      outline: none;
      background-color: #333;
      border: 2px solid #333;
      color: #fff;
      text-decoration: none;
      background-color: #FFD700;
      border-color: #333;
      color: #333;
    }
  }
}

.like_button {
  margin: 0 auto 30px;
  display: block;
  width: 100%;
  height: 54px;
  text-align: center;
  text-decoration: none;
  line-height: 54px;
  outline: none;
  background-color: #333;
  border: 2px solid #333;
  color: #fff;
}
.like_button::before,
.like_button::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
}
.like_button,
.like_button::before,
.like_button::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.like_button:hover {
  text-decoration: none;
  background-color: #FFD700;
  border-color: #333;
  color: #333;
  letter-spacing: 4px;
}
