// Place all the styles related to the kawagoe3/senryu controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face{
  font-family: "青柳衡山フォントT";
  src:font-url('青柳衡山フォントT.ttf');
}

.senryu{
  font-family: "青柳衡山フォントT";

  h2{
    font-size: 24px;
    text-align: center;
    margin: 0;
    margin-top: 60px;
    color: #000;
  }

  hr{
    width: 70px;
    color: #000;

  }

  .post_senryu{
    h2{
      font-size: 24px;
      text-align: center;
      border: solid 2px #000;
      padding: 10px;
      width: 250px;
      margin: 30px auto;

      a{
        color: #000;
      }
      a:hover{
        color: #212121;
        letter-spacing: 1px;
      }
    }
  }
  .senryu-content{
    border: solid 1px #414141;
    box-shadow: 3px 3px 1px 0;
    margin: 0;
    height: 450px;
    margin: 40px 0 20px;
    position: relative;

    .img-0{
      background-image: image-url("take.jpg");
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }

    .img-1{
      background-image: image-url("kumo.jpg");
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }

    .img-2{
      background-image: image-url("onsen.jpg");
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }

    .img-3{
      background-image: image-url("yuki_yama.jpg");
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }

    .img-4{
      background-image: image-url("konoha.jpg");
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }

    .img-5{
      background-image: image-url("hoshi.jpg");
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }

    .img{
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;

      .cover-img{
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
      }

      p{
        font-size: 25px;
        padding: 2px;
        margin: 0;
        color: white;
        width:1em;
        float:right;
      }

      .left-content{
        position: absolute;
        top: 10px;
        right: 5px;
      }

      .middle-content{
        position: absolute;
        top: 70px;
        right: 40px;
      }

      .right-content{
        position: absolute;
        top: 200px;
        right: 75px;
      }

      .user-info{
        p{
          font-size: 18px;
          color: #EEE;
        }

        .tema-content{
          position: absolute;
          top: 5px;
          left: 0;
        }

        .age-content{
          position: absolute;
          bottom: 10px;
          left: 20px;
        }

        .name-content{
          position: absolute;
          bottom: 10px;
          left: 0;
        }
      }
    }
  }
}

