<div class="container">
<div class="row">
<ul id="fade-in2" class="dropmenu col-sm-4">
  <li><a href="#">未来フェーズ</a>
    <ul>
      <li><a href="#">ヒント１</a></li>
      <li><a href="#">ヒント２</a></li>
      <li><a href="#">ヒント３</a></li>
      <li><a href="#">ヒント４</a></li>
    </ul>
  </li>
</ul>
<ul id="fade-in2" class="dropmenu col-sm-4">
  <li><a href="#">過去フェーズ</a>
    <ul>
      <li><a href="#">ヒント１</a></li>
      <li><a href="#">ヒント２</a></li>
      <li><a href="#">ヒント３</a></li>
      <li><a href="#">ヒント４</a></li>
      <li><a href="#">ヒント５</a></li>
    </ul>
  </li>
</ul>
<ul id="fade-in2" class="dropmenu col-sm-4">
  <li><a href="#">現在フェーズ</a>
    <ul>
      <li><a href="#">ヒント１</a></li>
      <li><a href="#">ヒント２</a></li>
      <li><a href="#">ヒント３</a></li>
      <li><a href="#">ヒント４</a></li>
      <li><a href="#">ヒント５</a></li>
    </ul>
  </li>
</ul>
</div>
  </div>