<div class="container">
  <div class="row">
    <h4>ヒント一覧</h4>
    <ul id="fade-in2" class="dropmenu col-sm-4">
      <li><a href="#">未来フェーズ</a>
        <ul>
          <li><a href="#hint1-1">ヒント１</a></li>
          <li><a href="#hint1-2">ヒント２</a></li>
          <li><a href="#hint1-3">ヒント３</a></li>
          <li><a href="#hint1-4">ヒント４</a></li>
        </ul>
      </li>
      <%= image_tag '未来_川越_街並イラスト.png', class: "future-kawagoe-img" %>
    </ul>
    <ul id="fade-in2" class="dropmenu col-sm-4">
      <li><a href="#">過去フェーズ</a>
        <ul>
          <li><a href="#hint2-1">ヒント１</a></li>
          <li><a href="#hint2-2">ヒント２</a></li>
          <li><a href="#hint2-3">ヒント３</a></li>
          <li><a href="#hint2-4">ヒント４</a></li>
          <li><a href="#hint2-5">ヒント５</a></li>
        </ul>
      </li>
      <%= image_tag 'ゴエモンイラスト.png', class: "goemon-img" %>
    </ul>
    <ul id="fade-in2" class="dropmenu col-sm-4">
      <li><a href="#">現在フェーズ</a>
        <ul>
          <li><a href="#hint3-1">ヒント１</a></li>
          <li><a href="#hint3-2">ヒント２</a></li>
          <li><a href="#hint3-3">ヒント３</a></li>
          <li><a href="#hint3-4">ヒント４</a></li>
          <li><a href="#hint3-5">ヒント５</a></li>
        </ul>
      </li>
      <%= image_tag 'NO30山車イラスト.png', class: "dashi-img" %>
    </ul>
  </div>
</div>
<div class="remodal" data-remodal-id="hint1-1" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div class="clearfix">
    <h2 class="modaltitle">未来フェーズヒント１</h2>
    <p>どこかで赤い月を見なかった？</p>
  </div>
  <br>
  <a data-remodal-action="cancel" class="m_button">Close</a>
</div>
<div class="remodal" data-remodal-id="hint1-2" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div class="clearfix">
    <h2 class="modaltitle">未来フェーズヒント２</h2>
    <p>赤い月の前で通ったのは何だろう？</p>
  </div>
  <br>
  <a data-remodal-action="cancel" class="m_button">Close</a>
</div>
<div class="remodal" data-remodal-id="hint1-3" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div class="clearfix">
    <h2 class="modaltitle">未来フェーズヒント３</h2>
    <p>手元にマチナミと星があるはず。</p>
  </div>
  <br>
  <a data-remodal-action="cancel" class="m_button">Close</a>
</div>
<div class="remodal" data-remodal-id="hint1-4" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div class="clearfix">
    <h2 class="modaltitle">未来フェーズヒント４</h2>
    <p>山車カードが指すものは？</p>
  </div>
  <br>
  <a data-remodal-action="cancel" class="m_button">Close</a>
</div>
<div class="remodal" data-remodal-id="hint2-1" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div class="clearfix">
    <h2 class="modaltitle">過去フェーズヒント１</h2>
    <p>「ひっかわせ」は誰かが説明していたよね。</p>
  </div>
  <br>
  <a data-remodal-action="cancel" class="m_button">Close</a>
</div>
<div class="remodal" data-remodal-id="hint2-2" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div class="clearfix">
    <h2 class="modaltitle">過去フェーズヒント２</h2>
    <p>誰かがある川越の名物を二等分していたよね。</p>
  </div>
  <br>
  <a data-remodal-action="cancel" class="m_button">Close</a>
</div>
<div class="remodal" data-remodal-id="hint2-3" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div class="clearfix">
    <h2 class="modaltitle">過去フェーズヒント３</h2>
    <p>山車の特徴についてはみんなが説明していたね。</p>
  </div>
  <br>
  <a data-remodal-action="cancel" class="m_button">Close</a>
</div>
<div class="remodal" data-remodal-id="hint2-4" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div class="clearfix">
    <h2 class="modaltitle">過去フェーズヒント４</h2>
    <p>過去に来た時、４隅のライトは何を指していたかな？</p>
  </div>
  <br>
  <a data-remodal-action="cancel" class="m_button">Close</a>
</div>
<div class="remodal" data-remodal-id="hint2-5" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div class="clearfix">
    <h2 class="modaltitle">過去フェーズヒント５</h2>
    <p>山車は何かを指しているよね。</p>
  </div>
  <br>
  <a data-remodal-action="cancel" class="m_button">Close</a>
</div>
<div class="remodal" data-remodal-id="hint3-1" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div class="clearfix">
    <h2 class="modaltitle">現在フェーズヒント１</h2>
    <p>このかけらを山車（ポスター）の絵を見比べでごらん。</p>
  </div>
  <br>
  <a data-remodal-action="cancel" class="m_button">Close</a>
</div>
<div class="remodal" data-remodal-id="hint3-2" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div class="clearfix">
    <h2 class="modaltitle">現在フェーズヒント２</h2>
    <p>この色の並び、どこかで見なかったかい？</p>
  </div>
  <br>
  <a data-remodal-action="cancel" class="m_button">Close</a>
</div>
<div class="remodal" data-remodal-id="hint3-3" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div class="clearfix">
    <h2 class="modaltitle">現在フェーズヒント３</h2>
    <p>「過去から現代まで」、つまり過去と現代で解答用紙を見比べてごらん。</p>
  </div>
  <br>
  <a data-remodal-action="cancel" class="m_button">Close</a>
</div>
<div class="remodal" data-remodal-id="hint3-4" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div class="clearfix">
    <h2 class="modaltitle">現在フェーズヒント４</h2>
    <p>過去から現代まで受け継がれたことを未来でも守ってほしい。</p>
  </div>
  <br>
  <a data-remodal-action="cancel" class="m_button">Close</a>
</div>
<div class="remodal" data-remodal-id="hint3-5" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div class="clearfix">
    <h2 class="modaltitle">現在フェーズヒント５</h2>
    <p>虹をどこかで見なかったかい？</p>
  </div>
  <br>
  <a data-remodal-action="cancel" class="m_button">Close</a>
</div>